@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.content-wrapper {
  display: flex;
}

body {
  /* background-color: black;
  opacity: 0.5; */
  /* z-index: 9999; */
}

.modal {
  opacity: 0.85;
  background-color: black;
  pointer-events: none;
  /* z-index: 10000; */
}
